.App {
  text-align: center;
  background-color: #000; /* Set background color to black */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%; /* Add margin from left and right */
}

.messages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
}

.navbar {
  padding: 20px;
  background-color: #333;
  color: white;
  width: 100%;
}

.card-container {
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: left;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container:hover {
  background-color: #1F242D;
  color: white;
  transform: translateY(-10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Spinner styling if needed */
